{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "proseWrap":"never", 
  "printWidth": 180,
  "editor.formatOnSave": true,
  "prettier.semi": false,
  "prettier.singleQuote": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode"
}